body {
	font-size: 12px;
	font-family: Helvetica;
}

.message {
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
	background-color: #b8ffb2;
	padding: 5px;
	margin-right: 10px;
	margin-top: 5px;
}

.content {
	font-size: 18px;
	text-align: left;
}

.username {
	text-align: right;
}
